/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.label{
	-fx-font-family: "Arial Black";
	-fx-font-size: 50pt;
}

.button{
	-fx-font-family: "Arial Black";
	-fx-font-size: 12pt;
}

.root{
	-fx-background-color:"#ffffe6";
}